<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weapon.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @weapon.type %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @weapon.reference %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
