<p id="notice"><%= notice %></p>

<h1>Listing Kitties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Weapons</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kitties.each do |kitty| %>
      <tr>
        <td><%= kitty.name %></td>
        <td><%= kitty.weapons.count %></td>
        <td><%= link_to 'Edit', edit_kitty_path(kitty) %></td>
        <td><%= link_to 'Battle', "/kitties/#{kitty.id}/battle", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Summon kitty', new_kitty_path %>
<br>
<%= link_to 'Forge new weapon', new_weapon_path %>

